# === 基础TARGET配置 ===
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y


# === 设备启用 ===
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02=y

# === 包组定义，仅展示分组逻辑，无实际影响 ===
CONFIG_PACKAGE_GROUP_BASE(Arthur_Lite))="netspeedtest openclash samba4 smbuser tailscale taskplan ttyd upnp zram-swap"
CONFIG_PACKAGE_GROUP_ATHENA_LITE(Arthur=Athena_Lite))="easytier lucky partexp"
CONFIG_PACKAGE_GROUP_ATHENA_FULL(Athena_Full))="ddns-go homeproxy istorex"

# === 设备特定包(特定包会默认安装)) ===
# === + 号表示继承General.Config的包，否则可能会依据先后逻辑删除 ===
# === 只需要添加luci-app-ZZZ和中文化，依赖包ZZZ正常会由luci自动寻找安装 ===
# === 语法支持分批多次添加包如下清单，逻辑更清晰 ===
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01+=""
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02+="luci-app-athena-led luci-i18n-athena-led-zh-cn"
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02+="luci-app-easytier luci-i18n-easytier-zh-cn luci-app-lucky luci-i18n-lucky-zh-cn luci-app-partexp luci-i18n-partexp-zh-cn"


# === 编译优化 ===
CONFIG_DEVEL=y
CONFIG_TARGET_OPTIONS=y
CONFIG_TARGET_OPTIMIZATION="-O3 -pipe -march=armv8-a+crypto+crc -mcpu=cortex-a53+crypto+crc -mtune=cortex-a53"


# === NSS配置 ===
CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_NSS_FIRMWARE_VERSION_12_5=y

# 雅典娜LED
#CONFIG_PACKAGE_luci-app-athena-led=m
#CONFIG_PACKAGE_luci-i18n-athena-led-zh-cn=m

# ====== Mary定制包（下面的包如果=y会给本配置文件所有设备默认安装） ======
# ====== 模块化设计（=m）的优势是​​可后期安装/卸载 ======
# ====== 模块化设计（=m）与上方设备特定包重复会造成冲突，尽量使用特定包 ======
# 已调整工作流合并顺序，General.Config文件在前面，如果有相同配置不同参数以本设备Config的为准。
#CONFIG_PACKAGE_nikki=m
#CONFIG_PACKAGE_luci-app-nikki=m
#CONFIG_PACKAGE_luci-i18n-nikki-zh-cn=m
